.page-wrapper {
    padding: 20px 8%;
    min-height: calc(100vh - 80px);
    box-sizing: border-box;
}

header {
    height: 40px;
}

footer {
    height: 40px;
}

layout-wrapper {
    height: 100%;
}
